/* LOGO FONT */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Maven Pro', sans-serif;
}

::-webkit-scrollbar {
  width:8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgb(173, 173, 173);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #e6ab4f;
  border-radius: 6px;
}